<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header :: head">Head</div>
<title>Deperture - Shihatsu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
<body>
  <div th:replace="fragments/header :: header">Header</div>
  <h1>Jikoku</h1>
  <h2>Information</h2>
  <p th:text="${info}" /> 
  <h2>Ad</h2>
  <!-- departure -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-6470019750016063"
    data-ad-slot="5017667087"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <!-- departure -->
  <h2>Jikoku</h2>
  <table>
    <tr>
      <th>Hour</th>
      <th>Minute</th>
    </tr>
    <tr th:each="element, elementStat : ${hour}">
      <td th:text="${element}"/>
      <td th:text="${minute[elementStat.index]}"/>
    </tr>      
  </table>
  <div th:replace="fragments/footer :: footer">&copy; Footer</div>
</body>
</html>